body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pontano Sans", sans-serif;
}

.images-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.image {
  background-color: #fdfffc;
  box-sizing: border-box;
  width: calc(33.33% - 20px);
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  @media (max-width: 1096px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 720px) {
    width: 90%;
  }
}

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 48, 63, 0.5);
  opacity: 0;
  transition: opacity 1s ease;

  &:hover {
    opacity: 1;
  }
}

.overlay-text {
  color: #fff;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 30px;
}

header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.half {
  width: 50%;
}

.half:last-child {
  text-align: right;
}

h2 {
  font-size: 1.2rem;
  color: #0b90aa;
}

a,
button,
input {
  display: inline-block;
  background-color: #fc6453;
  padding: 12px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  border: none;
  transition: background-color 1s ease;

  &:hover {
    background-color: #600473;
  }
}

form {
  height: 80px;
  margin-bottom: 60px;
  background-color: #600473;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

input {
  background-color: #fc6453;
  width: 300px;

  &:focus {
    outline: none;
    background-color: #dcae1d;
  }

  &:hover {
    background-color: #dcae1d;
  }

  @media (max-width: 720px) {
    width: 200px;
  }
}

button {
  margin-left: 30px;
  cursor: pointer;

  &:hover {
    background-color: #dcae1d;
  }
}

h3 {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}
